@import './_variables.scss';

body {
    font-family: "Urbanist", serif !important;
    font-weight: 400 !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

.app {
    min-height: 100dvh;
}

.user-image-small {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.profile-image {
    background-color: #d9d9d9;
}

/* Dark Theme */
body:has(#dark) {
    background-color: $dark-base !important;
    color: $dark-text !important;
    #dark,
    .navbar,
    .drop-down-menu {
        background-color: $dark-base !important;
        color: $dark-text !important;
    }

    .navbar i,
    .profile-header a {
        color: $dark-text !important;
    }

    .post.card,
    .card-body,
    .profile-header::before {
        background-color: #555555;
        color: $dark-text !important;
    }

}