body {
    font-family: "Urbanist", serif !important;
    font-weight: 400 !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

.user-image-small {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.profile-image {
    background-color: #d9d9d9;
}

/* Dark Theme */
body:has(#dark) {
    #dark,
    .navbar,
    .navbar i {
        background-color: #1a1a1a !important;
        color: #f1f1f1 !important;
    }

    .post.card,
    .card-body,
    .profile-header::before {
        background-color: #555555;
        color: #f1f1f1 !important;
    }

}