#cover {
    height: 430px;
    position: relative;

    #cover-photo {
        object-fit: cover;
        object-position: center center;
        height: calc(100% + 50px);
        width: 100%;
    }
    .edit-cover-photo {
        position: absolute;
        bottom: calc(1rem - 50px);
        right: 1rem;
        z-index: 3;
    }
}

.profile-links {
    display: flex;

    .profile-link {
        padding: 0 1rem;
    }
}

.profile-header {
    position: relative;
    backdrop-filter: blur(1px);
    padding: 1rem;
    z-index: 2;

    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
    .follower-image {
        width: "30px";
        height: "30px";
        border-radius: "50%";
        object-fit: "cover";
    }
}